section {
  .list-title {
    @include flexSpace();
    padding-top: 72.58px;
    padding-bottom: 28px;
    h1 {
      font-weight: 700;
      font-size: 50px;
      line-height: normal;
      font-family: "Noto Sans JP", sans-serif;
      font-style: normal;
      color: #000;
    }
    .category {
      width: 144px;
      height: 40px;
      select {
        height: 100%;
        width: 100%;
        font-family: "Noto Sans JP", sans-serif;
        border: 1px solid #dedede;
        border-radius: 4px;
      }
    }
  }
  img {
    width: 417px;
    height: 276px;
  }
  .card-body {
    border: 1px solid #dedede;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 70px;
    .author-time {
      @include flexSpace();
      align-items: start;
      justify-content: flex-start;
      font-weight: 400;
      padding-top: 25px;
      padding-bottom: 15px;
      span {
        font-size: 18px;
        padding-left: 4px;
        font-weight: 400;
        line-height: 30px;
        font-family: "SVN-Gilroy", sans-serif;
        i {
          font-size: 24px;
        }
      }
      .author,
      .time {
        padding-right: 20px;
        @include flexSpace();
      }
    }
  }
  h6 {
    font-size: 20px;
    color: #211e3b;
    font-family: "SVN-Gilroy", sans-serif;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 700;
  }
  p {
    color: #211e3b;
    font-family: "SVN-Gilroy", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .read-more {
    &:hover {
      background-color: #c40000;
      a {
        color: #fff;
      }
    }
    @include flexSpace();
    width: 137px;
    height: 40px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    justify-content: center;
    a {
      color: red;
      display: inline-block;
      text-decoration: none;
    }
    i {
      vertical-align: middle;
    }
  }
  .pagination {
    @include flexSpace();
    margin: 0;
    padding: 10px;
    justify-content: center;
    li {
      display: inline-block;
      list-style: none;
      a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: #fff;
        text-align: center;
        text-decoration: none;
        color: #211E3B;
        font-family: SVN-Gilroy;
        font-weight: 700;
        border-radius: 4px;
        margin: 5px;
      }
      a:hover,
      a.active {
        color: #c40000;
        background-color: #ffe4e4;
        border-radius: 50%;
      }
      &:first-child {
        font-size: 40px;
        a {
          color: #c40000;
          background-color: #ffe4e4;
          border-radius: 50%;
        }
      }
      &:last-child {
        font-size: 40px;
        a {
          color: #e5e5e5;
        }
      }
      i {
        vertical-align: center;
      }
    }
  }
}
