@mixin buttonStyle {
  background-color: $main-color;
  border: 0;
  padding: 5px 10px;
  color: wheat;
}

@mixin flexSpace {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin breakpoint($min-size, $max-size) {
  @media (min-width: $min-size) and (max-width: $max-size) {
    @content;
  }
}

@mixin fontStyle($color, $font, $size, $weight) {
  color: $color;
  font-family: $font;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}
