* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  
}

// import
@import 'variables';
@import 'mixin';
@import 'header';
@import 'content';
footer {
  height: 94px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  p{
    margin: auto 0;
  }
}
