@charset "UTF-8";
header {
  height: auto;
  position: relative;
  position: relative;
}
header .img {
  max-width: 100%;
  max-height: 100%;
  height: auto; /* Đảm bảo tỷ lệ chiều cao tự động */
  width: auto;
  height: auto;
  width: 100%;
}
header .img img {
  width: 100%;
}

section .list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 72.58px;
  padding-bottom: 28px;
}
section .list-title h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 72.4px;
}
section .list-title .category {
  width: 144px;
  height: 40px;
}
section .list-title .category select {
  height: 100%;
  width: 100%;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
}
section img {
  width: 100%;
  height: 276px;
}
section .card-body {
  border: 1px solid #DEDEDE;
  border-bottom-right-radius: 10px; /* Độ cong góc dưới bên phải */
  border-bottom-left-radius: 10px;
  margin-bottom: 70px;
}
section .card-body .author-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 15px;
}
section .card-body .author-time h4 {
  font-size: 18px;
  padding-left: 21px;
}
section .card-body .author-time .author {
  padding-left: 0;
}
section h6 {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 700;
}
section p {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 29px;
}
section .read-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 137px;
  height: 40px;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  justify-content: center;
}
section .read-more a {
  display: inline-block;
  text-decoration: none;
  color: red;
}
section .read-more i {
  vertical-align: middle;
}
section .pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  justify-content: center;
}
section .pagination li {
  display: inline-block;
  list-style: none;
}
section .pagination li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
}
section .pagination li a:hover, section .pagination li a.active {
  color: #C40000;
  background-color: #FFE4E4;
  border-radius: 50%;
}
section li:first-child {
  font-size: 40px;
}
section li:last-child {
  font-size: 40px;
}
section i {
  vertical-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
}

footer {
  height: 94px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
footer p {
  margin: auto 0;
}

@media (min-width: 700px) {
  .menu-mobile {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex-wrap;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 4px 2%;
  }
  .menu i {
    vertical-align: middle;
    color: black;
  }
  .menu .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu .nav-menu a {
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all 0.42s ease;
    text-decoration: none;
  }
  .menu .nav-menu .box {
    width: 374px;
    height: 45px;
    cursor: pointer;
    padding: 10px 18px;
    background-color: #fff;
    border-radius: 6px;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;
    position: relative;
  }
  .menu .nav-menu .box input {
    outline: none;
    border: none;
    font-weight: 400;
    transition: 0.8s;
    background: transparent;
    width: 100%;
    height: 100%;
    padding-right: 10px;
  }
  .menu .nav-menu .box button {
    border: none;
    background-color: #fff;
    width: 40px;
    height: 100%;
    margin-right: 5px;
    top: 0;
    right: 0;
    position: absolute;
  }
  .menu .nav-menu li a {
    color: black;
  }
  .menu .nav-menu li i {
    font-size: 30px;
  }
  .menu .nav-menu li .first {
    color: white;
    background-color: #770303;
    width: 51px;
    height: 31px;
    border-radius: 2px;
    margin: 50px;
  }
  .menu .nav-menu li .second {
    padding-right: 100px;
  }
  .menu .nav-menu li .third {
    padding-left: 20px;
  }
}
@media (max-width: 699px) {
  .menu {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mobile .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 69px;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    padding: 4px 2%;
  }
  .menu-mobile .nav a {
    text-decoration: none;
    color: black;
  }
  .menu-mobile .nav i {
    width: 19px;
    height: 19px;
  }
  .menu-mobile .navbar-links {
    display: none;
    width: 60%;
  }
  .menu-mobile .navbar-links ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-mobile .navbar-links ul li {
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
  }
  .menu-mobile .navbar-links ul li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: wheat;
  }
  .menu-mobile .navbar-links ul li a:hover {
    color: white;
    background-color: black;
  }
  .menu-mobile .navbar-links.active {
    display: flex;
    position: absolute;
    left: -26px;
    top: 69px;
  }
}

/*# sourceMappingURL=index.css.map */
